/* Universal Styles */

* {
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Quicksand', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #615e5d;
}

h1 {
  font-size: 2rem;
  font-weight: 900;
}

.paragraph {
  letter-spacing: 0.05rem;
  line-height: 1.5;
  font-size: 1.1rem;
}

header,
footer {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer {
  font-family: "Cormorant Garamond", serif;
}

#start {
  color: #c5c0bc;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

/* HEADER */

.social-medias {
  opacity: 0.35;
  padding-right: 1rem;
}

.paler {
  opacity: 0.7;
}

#company-bold {
  font-weight: 700;
  color: #615e5d;
  opacity: 0.8;
}

#company-pale {
  font-weight: 300;
  color: #615e5d;
}

#bold {
  font-weight: 600;
  color: #615e5d;
  opacity: 0.8;
}

.navigation-mobile {
  display: none;
}

.top-head-fixed {
  border-bottom: 1px solid #c5c0bc;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.company {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2.5rem;
  padding-right: .5rem;
  opacity: 0.5;
}

nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
}

nav li {
  padding-left: 1rem;
}

/* CONTENT */

.content {
  position: relative;
  top: 4rem;
}

/* BANNER */

.container {
  padding: 0 1.5rem 0 1.5rem;
}

.banner-image-large {
  display: none;
}

.large-container {
  background-color: #c5c0bc;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner {
  width: 100%;
  height: 28rem;
  display: flex;
}

.banner-image {
  background-image: url("../images/banner.jpg");
  width: 60%;
  height: 100%;
  margin-right: 1.5rem;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: .2rem;
}

.banner-learn {
  width: 40%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.banner-text {
  height: 55%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner-text h1 {
  padding-bottom: 1rem;
}

.banner-text h3 {
  padding-bottom: 2rem;
}

.banner-text p {
  text-align: center;
  background-color: #615e5d;
  padding: .5rem 0 .5rem 0;
  border-radius: .15rem;
}

/* SERVEICES SECTION */

.services {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.left {
  width: 60%;
  padding-right: 1.5rem;
}

.left img {
  width: 100%;
  padding-bottom: 1.5rem;
}

.left h1 {
  padding-bottom: 1.5rem;
}

.left h2 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.left .emanuel {
  padding-top: 1.5rem;
}

.right {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service {
  display: flex;
  padding: 1rem 0 1rem 1rem;
}

.first-top {
  padding-top: 0;
}

.image-service {
  width: 35%;
  height: auto;
}

.service img {
  width: 100%;
  /* height: auto; */
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 65%;
  padding-left: 1rem;
}

.text p {
  padding: 0.5rem 0 0.5rem 0;
}

.text a {
  text-decoration: none;
}

/* LEARNING SECTION */

.learning {
  padding-left: 4.5rem;
  padding-right: 2.5rem;
}

.learning-title h1 {
  text-align: center;
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
}

#first-row {
  padding-top: 2rem;
}

#second-row {
  margin-bottom: 0;
}

.bloc {
  width: 33.33%;
  margin-right: 2rem;
  padding-bottom: 1rem;
}

.bloc .image-learning img {
  width: 100%;
}

.text-learning {
  padding: 1rem 1rem 0 1rem;
}

.text-learning p,
.text-learning h2 {
  padding-bottom: 0.5rem;
}

.pale-background,
.bloc {
  background-color: #eae5e1;
}

/* THISIS EXHIBIT SECTION */

.exhibit {
  padding-bottom: 0;
}

#right-exhibit {
  justify-content: flex-start;
}

/* FOOTER */

footer {
  padding-bottom: 1rem;
}

#footer {
  border-top: 1px solid #e4e4e4;
  background-color: #c5c0bc;
  opacity: 0.6;
}

#footer #footer-flex,
#footer nav,
.social-medias-icon {
  padding-top: 1rem;
}

#footer-flex,
#footer nav ul {
  align-items: flex-start;
}

footer ul {
  display: flex;
  align-items: center;
  list-style: none;
}

footer i {
  padding: 0 0.5rem 0 0.5rem;
}

#footer-flex,
footer nav {
  color: #615e5d;
}

.social-medias-icon {
  opacity: 0.4;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 500px) {

  #start {
    font-size: 1.5rem;
  }

  footer nav {
    display: none;
  }

  .container {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .banner-image {
    display: none;
  }

  .services {
    padding-top: 1.5rem;
  }

  #services .right {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 660px) {

  #start {
    font-size: 1.25rem;
  }

  .navigation-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0.5rem 0 0.5rem;
    opacity: 0.5;
  }

  .top-head-fixed .company,
  .navigation {
    display: none;
  }

  .navigation-mobile img {
    height: 2.5rem;
  }

  .banner {
    flex-direction: column;
    height: 31rem;
  }

  .banner-image {
    margin-right: 0;
    width: 100%;
  }

  .banner-learn {
    width: 100%;
    display: block;
    padding-left: 0;
  }

  .banner-text {
    width: 100%;
    height: auto;
  }

  .banner-text h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  #start {
    width: 60%;
    margin-left: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 500px) {

  .banner-text h1 {
    padding-top: 0rem;
  }

  .navigation-mobile {
    padding: 0 1.5rem 0 1.5rem;
  }

  #start {
    width: 100%;
    margin-left: 0;
  }

  .banner-image-large {
    background-image: url("../images/banner.jpg");
    height: 15rem;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
  }

  .banner {
    height: 16rem;
  }
}

@media only screen and (max-width: 700px) {

  .social-medias-icon {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .text-learning p,
  .image-learning {
    display: none;
  }

  .row {
    flex-direction: column;
    margin-bottom: 0;
  }

  .bloc {
    width: 100%;
    padding: 0;
    margin: 0 0 1rem 0;
  }

  .learning {
    padding-left: 20%;
    padding-right: 20%;
  }

  .text-learning h2 {
    padding: 1.5rem 2rem 1.5rem 2rem;
  }

  .text-learning {
      padding: 0;
  }

  .exhibit .right {
    display: none;
  }

  .exhibit .left {
    width: 100%;
    padding-right: 0;
  }
}

@media only screen and (max-width: 900px) {

  .social-medias {
    display: none;
  }

  #right-exhibit p {
    display: none;
  }

  .banner-text {
    width: 100%;
  }
}

@media only screen and (max-width: 975px) {

  #left-services {
    display: none
  }

  #services .service {
    flex-direction: column;
    padding-left: 0;
    padding-top: 3rem;
    padding-bottom: 0;
  }

  #services .right {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  #services .image-service {
    width: 100%;
  }

  #services .text {
    padding-top: 0.3rem;
    padding-left: 0;
  }

  #services .first-top {
    padding-top: 0;
  }

  .no-mobile {
    display: none;
  }
}

@media only screen and (min-width: 976px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 1124px) {
  #Oliver-long {
    display: none;
  }

  #Oliver-very-short {
    display: none;
  }
}

@media only screen and (min-width: 1125px) {
  #Oliver-short {
    display: none;
  }

  #Oliver-very-short {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  #Oliver-long {
    display: none;
  }

  #Oliver-short {
    display: none;
  }

  #Oliver-very-short {
    display: block;
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .banner-text h1 {
    padding-bottom: 2rem;
  }

  .banner-text h3 {
    padding-bottom: 3rem;
  }

  .banner-text p {
    padding: 1rem 0 1rem 0;
  }

  .banner-text {
    height: 55%;
    width: 90%;
  }

  #start {
    font-size: 1.5rem;
  }

  .large-container,
  .services {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .exhibit {
    padding-bottom: 0;
  }

  .banner {
    height: 32rem;
  }
}

@media only screen and (min-width: 1600px) {

  header,
  footer {
    height: 5rem;
  }

  h1 {
    text-transform: uppercase;
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p,
  span,
  .paragraph,
  li {
    font-size: 1.3rem;
  }

  nav li {
    padding-left: 2rem;
  }

  .logo img {
    height: 3rem;
  }

  .content {
    top: 5rem;
  }

  .social-medias {
    padding-right: 1.5rem;
  }

  .banner-text {
    height: 55%;
    width: 100%;

  }

  #start {
    font-size: 2rem;
  }

  .banner-text p {
    padding: 1rem 0 1rem 0;
    width: 70%;
    margin-left: 16%;
  }

  .large-container,
  .services {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .exhibit {
    padding-bottom: 0;
  }

  .banner {
    height: 36rem;
  }
}

@media only screen and (max-width: 975px) {

  #Oliver-long {
    display: block;
  }

  #Oliver-very-short {
    display: none;
  }
}

@media only screen and (max-width: 500px) {

  #services .right {
    padding-left: 0;
    padding-right: 0;
  }

  #services .text {
    padding-left: 1rem;
  }

  .exhibit h2,
  .exhibit p {
    display: none;
  }

  footer {
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {

  .text-learning h2 {
    padding: 1rem;
  }

  .bloc {
    margin-bottom: 0.5rem;
  }

  .exhibit .container {
    padding-left: 0;
    padding-right: 0;
  }

  .container.learning,
  .exhibit h2,
  .exhibit p {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}




































/* end */
